.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: darkgray;
  transition: 0.5s 0.2s;
  opacity: 0;
  visibility: hidden;
}
.show {
  transition: 0.5s 0.2s;
  opacity: 0.95;
  visibility: visible;
}
.puff {
  background-color: #f3f3f3;
  width: 90px;
  height: 90px;
  border-radius: 45px;
  animation: puff-in-center 0.5s ease-in both;
}
@keyframes puff-in-center {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}