.spinner {
  display: inline-block;
  position: relative;
  width: 56px;
  height: 56px;
  visibility: visible;
  opacity: 1;
  transition: 0.2s 0.1s;
}
.hide {
  transition: 0.2s 0.1s;
  visibility: hidden;
  opacity: 0;
}
.loader {
  display: absolute;
  border: 6px solid #f3f3f3; /* Light grey */
  border-top: 6px solid #555; /* Blue */
  border-radius: 28px;
  width: 56px;
  height: 56px;
  opacity: 1;
  animation: spin 0.8s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}