<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Kria WebComponent Demo test</title>

</head>
<body>
  <div class="jumbotron text-center">
    <h1>Hi component!</h1>
  </div>

  <!-- Where Your Web Component Lays -->
  <div class="container">
    <div id="one-root" class="row"></div> 
    <div id="one-root-2" class="row"></div>
  </div>
  

  <!-- HTML CSS stuff | you need to copy and paste these ones otherwise it won't render -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://cdn.ravenjs.com/3.24.0/raven.min.js" crossorigin=anonymous></script>
  
  <!-- TEST CODE -->
  <script type="text/javascript">

    hookedAction = function(state, action) {
      console.error("hooked-state.:", state);
      console.error("hooked-action:", action);
    }

    hooks = { 
      "wallets/ETH_GET": hookedAction.bind(this) 
    }

    mountWallet = function() {
      oneSDKwallet = OneWebWidgets.init({
        component: "wallet",
        element: "one-root",
        readOnly: false,
        externalUserId: "191.000.000-00",
        hooks: hooks
      });
    }
    mountKYC = function() {
      oneSDKKYC = OneWebWidgets.init({
        component: "manager-kyc",
        element: "one-root-2",
        readOnly: false,
        externalInvestmentId: "chopup",
        hooks: hooks
      });
    }

    window.onload = function() {
      mountWallet();
      mountKYC();

      // updating the component
      var languages = ["pt_BR", "en"];
      var position = 1;
      // var interval = setInterval(() => {
      //   // PLAY HERE WITH OPTIONS TO UNDERSTAND THE LIFECYCLE 
      //   position = position ? 0 : 1;
      //   oneSDKwallet.setOptions({ 
      //     language: languages[position],
      //     readOnly: position ? true : false,
      //     externalUserId: "cpf" + position
      //   })
      // }, 10000);
    }
  </script>
</body>
</html>